/* this style keeps the Gulp logo from taking over the whole page. Adjust if needed to size correctly for your page. */

nav img,
nav .img-fluid {
  max-width: 150px;
}

.card {
  margin-right: 20px !important;
}

.primary {
  color: $blue;
}
.beta {
  color: $yellow-300;
  background-color: $indigo-900;
}